# ========================
# Server Configuration
# ========================
PORT=5000
NODE_ENV=production

# ========================
# MongoDB Connection
# ========================
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/?appName=Cluster0

# ========================
# JWT Authentication
# ========================
JWT_SECRET=your_strong_random_jwt_secret_here
JWT_EXPIRE=7d

# ========================
# Admin Access Password
# ========================
ADMIN_SECRET=your_admin_secret_here

# ========================
# File Upload Limits
# ========================
MAX_FILE_SIZE=50MB

# ========================
# Cloudinary Configuration
# ========================
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# ========================
# Client URL (for CORS)
# ========================
CLIENT_URL=https://your-production-domain.com


EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=xxxxxxxxxxx
EMAIL_PASS=xxxxxxxxxx
EMAIL_FROM= xxxxxxxxxxx